<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog  logicalFilePath="database/changelogs/changesets/liren-2.0.xml"
                    xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
                    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                    xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
         http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-2.0.xsd">

    <changeSet id="createSecurityTables" author="UNKNOWN">
        <sql>
            CREATE TABLE `users` (
            `username` varchar(50) NOT NULL,
            `password` varchar(50) NOT NULL,
            `enabled` BOOLEAN NOT NULL,
            PRIMARY KEY (`username`)
            ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

            CREATE TABLE `authorities` (
            `username` varchar(50) NOT NULL,
            `authority` varchar(50) NOT NULL,
            CONSTRAINT fk_authorities_users foreign key(`username`) REFERENCES users(`username`)
            ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

            CREATE UNIQUE INDEX ix_auth_username on authorities (`username`,`authority`) USING BTREE;

            INSERT INTO `users` VALUES ('liren01', '1qaz!QAZ', true);
            INSERT INTO `users` VALUES ('liren02', '2wsx@WSX', true);

            INSERT INTO `authorities` VALUES ('liren01', 'ROLE_USER');
            INSERT INTO `authorities` VALUES ('liren02', 'ROLE_USER');
        </sql>
        <rollback>
            <sql>
                DROP TABLE `users`;
                DROP TABLE `authorities`;
            </sql>
        </rollback>
    </changeSet>

    <changeSet id="updateSecurityTablesSchema" author="MaxPeng">
        <sql>
            ALTER TABLE `users` MODIFY `password` varchar(65) NOT NULL;
        </sql>
        <rollback>
            <sql>
                ALTER TABLE `users` MODIFY `password` varchar(50) NOT NULL;
            </sql>
        </rollback>
    </changeSet>

    <changeSet id="updatePasswordIntoCipherText" author="MaxPeng">
        <sql>
            UPDATE `users` SET `password`='$2a$10$wZamHxBZiKAW/6BLeuSSbOI4VogNA7LbXwH94P.SnflTvhyWno.7K' WHERE `username`='liren01';
            UPDATE `users` SET `password`='$2a$10$A2HKt3zUI6zJwNjRQsey4OLi8X8I81NkhIrojU.P1XqLkwrQPXjCq' WHERE `username`='liren02';
        </sql>
        <rollback>
            <sql>
                UPDATE `users` SET `password`='1qaz!QAZ' WHERE `username`='liren01';
                UPDATE `users` SET `password`='2wsx@WSX' WHERE `username`='liren02';
            </sql>
        </rollback>

    </changeSet>

</databaseChangeLog>