<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:property-placeholder file-encoding="utf-8" location="classpath:database.properties,classpath:apns.properties" />

    <import resource="classpath:context-interfaces-mobile.xml"/>
    <import resource="classpath:context-infrastructure-persistence.xml"/>
    <import resource="classpath:context-domain.xml"/>
    <import resource="classpath:context-security.xml" />

    <context:annotation-config  />
    <context:component-scan base-package="com.thoughtworks.lirenlab"/>


</beans>
