form p { padding: 5px 10px; }
.align-right {text-align: right;}

/*=BOOK ORDER*/
.book-order li {position: relative;}
label.number {position: absolute; right: 10px;}
.button.plain.red.active {
  background: #ff8168; 
  border-top: #b7503e 1px solid; 
  border-right: #b7503e 1px solid; 
  border-bottom: #b7503e 1px solid; 
  color: #111;
  text-shadow: 0 1px 0 #fcaa9c;
}

.button.plain.green.active {
  background: #6cb94a; 
  border-top: #4a7f31 1px solid; 
  border-left: #4a7f31 1px solid; 
  border-bottom: #4a7f31 1px solid; 
  color: #111;
  text-shadow: 0 1px 0 #dce9d3;
}


.min-width-250 {
    min-width: 250px;
}

.hidden {
    display: none;
}

.history-search {
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}

.history-search input[type=text] {
  height: 30px;
  line-height: 150%;
  border-radius: 4px;
  color: #666;
  font-family: "Aller", "Lucida Grande", sans-serif;
  width: 180px;
}

.history-search input[type=submit] {
  height: 30px;
  margin-top: 1px;
}

.history-search input::-webkit-input-placeholder, .history-search input::-moz-placeholder {
  color: #999;
}