<!-- Primary navigation -->
<nav id="primary">
    <ul>
        <li>
            <a href="#donations">
                <span class="icon32 love"></span>
                捐赠
            </a>
        </li>
        <li>
            <a href="#history">
                <span class="icon32 listicon"></span>
                历史
            </a>
        </li>
        <li class="active">
            <a href="#manage">
                <span class="icon32 tools"></span>
                管理
            </a>
        </li>
        <li class="bottom">
            <a href="#">
                <span class="icon32 quit"></span>
                退出
            </a>
        </li>
    </ul>
</nav>

<!-- Secondary navigation -->
<nav id="secondary">
    <ul class="book-order">
        <li><a href="#manage">黑白名单</a></li>
        <li class="active"><a href="#address">图书馆地址</a></li>
    </ul>
</nav>

<section id="maincontainer" ng-init="init()">
    <div id="main">

        <div class="box">
            <div class="box-header">
                <h1>黑白名单</h1>
            </div>

            <table class="datatable">
                <thead>
                <tr>
                    <th width="30%">书名</th>
                    <th width="15%">作者</th>
                    <th width="30%">详情</th>
                    <th>自动通过／拒绝</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>丰乳肥臀</td>
                    <td>莫言</td>
                    <td>诺贝尔文学奖作者写的黄色小说。</td>
                    <td>
                        <a href="#" class="button plain green">通过</a>
                        <a href="#" class="button plain red active">拒绝</a>
                    </td>
                </tr>
                <tr>
                    <td>丰乳肥臀2</td>
                    <td>莫言</td>
                    <td>诺贝尔文学奖作者写的黄色小说。</td>
                    <td>
                        <a href="#" class="button plain green">通过</a>
                        <a href="#" class="button plain red active">拒绝</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


            <div class="box">
            <div class="box-header">
                <h1>图书馆地址</h1>
            </div>



            <table class="datatable">
                <thead>
                <tr>
                    <th width="15%">名字</th>
                    <th width="10%">联系人</th>
                    <th width="30%">地址</th>
                    <th width="10%">邮编</th>
                    <th width="15%">电话</th>
                    <th>动作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>张国栋图书馆二分馆</td>
                    <td>张国栋</td>
                    <td>河南省嵩山市少林寺A栋藏经阁2楼清洁处</td>
                    <td>612921</td>
                    <td>135 1000 2000</td>
                    <td>
                        <a href="#" class="button plain">编辑</a>
                        <a href="#" class="button plain">删除</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" value="张国栋图书馆二分馆"></td>
                    <td><input type="text" value="张国栋"></td>
                    <td><input type="text" value="河南省嵩山市少林寺A栋藏经阁2楼清洁处"></td>
                    <td><input type="text" value="612921"></td>
                    <td><input type="text" value="135 1000 2000"></td>
                    <td>
                        <a href="#" class="button plain green active">保存</a>
                        <a href="#" class="button plain">删除</a>
                    </td>
                </tr>

                <tr ng-repeat="library in libraries">
                    <td><input type="text" value="{{library.name}}" ng-readonly="library.shown" ng-class="{borderless: library.shown}"></td>
                    <td><input type="text" value="{{library.contacter}}" ng-readonly="library.shown" ng-class="{borderless: library.shown}"></td>
                    <td><input type="text" value="{{library.address}}" ng-readonly="library.shown" ng-class="{borderless: library.shown}"></td>
                    <td><input type="text" value="{{library.postcode}}" ng-readonly="library.shown" ng-class="{borderless: library.shown}"></td>
                    <td><input type="text" value="{{library.telephone}}" ng-readonly="library.shown" ng-class="{borderless: library.shown}"></td>

                    <td>
                        <a ng-click="edit(library)" class="button plain" lr-button-style>{{saveOrEdit}}</a>
                        <a ng-click="delete($index)" class="button plain">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <a href="#" class="button">添加</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>

