<!-- Primary navigation -->
<nav id="primary">
    <ul>
        <li class="active">
            <a href="#donations">
                <span class="icon32 love"></span>
                待审核
            </a>
        </li>
        <li>
            <a href="#history">
                <span class="icon32 listicon"></span>
                历史
            </a>
        </li>
        <li class="bottom">
            <a href="#">
                <span class="icon32 quit"></span>
                退出
            </a>
        </li>
    </ul>
</nav>

<!-- Secondary navigation -->
<nav id="secondary">
    <div>
        <ul class="book-order">
            <li>
                <div class="history-search">
                    <input type="text" ng-model="donationId" placeholder="请输入捐赠ID...">
                    <button class="button blue" ng-click="findHistorical(donationId)">搜索</button>
                </div>
            </li>
            <li ng-class="found">
                <a> {{donation.donation_time | unixTimestamp: 'MM/dd/yyyy HH:mm' }}
                    <label class="number">{{donation.donation_item_count}}</label>
                </a>
            </li>
        </ul>
    </div>
</nav>


<section id="maincontainer">
    <div id="main" class="container_12">
        <div ng-class="found">
            <div class="box">
                <div class="box-header">
                    <h1 class="min-width-250" ng-bind-template="当前捐赠书单编号－{{donation.donation_id}}"></h1>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th width="10%">ISBN号</th>
                        <th width="70%">书名</th>
                        <th width="20%">状态</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="book in donation.books">
                        <td>{{book.ISBN}}</td>
                        <td>{{book.title}}</td>
                        <td>
                            <a ng-class="{APPROVED: 'button plain green active',REJECTED: 'button plain red active'}[book.status]">{{{APPROVED:
                                '通过',REJECTED: '拒绝'}[book.status]}}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="box ">
                <div class="box-header">
                    <h1>选择寄送的图书馆</h1>
                </div>
                <form action="#">
                    <p>
                        <textarea ng-model="donation.post_specification"></textarea>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

